html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.form {
    margin-top: 10%;
}

#userInsertedCode {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

    #userInsertedCode:focus {
        background-color: lightblue;
    }


#evaluate {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

    #evaluate:hover {
        background-color: #008CBA;
        color: white;
    }

.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

#randomAckCode {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    background-color: rgb(29, 234, 14, 0.50);
    text-align: center;
    font-size: large;
    position: absolute;
}