html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.form {
    margin-top: 10%;
}

#userInsertedCode {
    text-align: center;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

    #userInsertedCode:focus {
        background-color: lightblue;
    }


#evaluate {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

    #evaluate:hover {
        background-color: #008CBA;
        color: white;
    }

.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

#randomAckCode {
    width: 35%;
    margin: 0 auto;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
    background-color: #4cec71;
    text-align: center;
    font-size: 40px;
}


table thead {
    width: 20px;
    height: 20px;
}

tr {
    width: 20px;
    height: 20px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0 auto;
}

    table td {
        padding: 20px;
        text-align: center;
    }

    table thead th {
        text-align: center;
        background-color: #1a659ec1;
        color: #011627;
        font-weight: bold;
        font-size: 18px;
        padding: 20px;
    }

    table tbody td {
        color: #011627;
        text-align: center;
    }

    table tbody tr {
        background-color: #1a659e3f;
    }

        table tbody tr:nth-child(odd) {
            background-color: #1a659e14;
        }



.center-div {
    display: flex;
    justify-content: center;
}


#redirectButton {
    border-radius: 12px;
    background-color: white;
    color: #e76f51;
    border: 3px solid #e76f51;
    font-size: 16px;
    padding: 8px;
}

    #redirectButton:hover {
        border-radius: 12px;
        background-color: #e76f51;
        color: white;
        border: 3px solid white;
        font-size: 16px;
        padding: 8px;
    }