@page
@model LoginHandling.Pages.CodeHandling.CodeExpiredModel
@{
}

<div class="alert alert-warning">
    <strong>Code expired</strong> The code you provided is no longer valid (more that three minutes passed). 
</div>