@page
@model LoginHandling.Pages.CodeHandling.FailedMatchModel
@{
}

<div class="alert alert-danger">
    <strong>Error</strong> The code you provided is not correct. Do you want to retry?
</div>


<div><h3>You can retry for other @Model.AvailableTries times</h3></div>

<button id="redirectButton" class="btn btn-primary">Yes, let me retry</button>

@section Scripts {
    <script>
        document.getElementById('redirectButton').addEventListener('click', function() {
            window.location.href = '/Index';
        });
    </script>
}
