@page
@model LoginHandling.Pages.CodeHandling.NoMessageAvailableModel
@{
}


<div class="alert alert-warning">
    <strong>No request found</strong> Your code might be expired or something went wrong
</div>