@page
@model LoginHandling.Pages.CodeHandling.NoPermissionModel
@{
}

<div class="alert alert-danger">
    <strong>No permission</strong> Your profile seems to have no permission to let you get inside this building. 
</div>