@page
@model SuccessfulMatchModel
@{
}

<div class="text-center">
    <div class="alert alert-success">
        <strong>Success!</strong> You can now open the door using the following code
    </div>

    <div id="randomAckCode">
        <p>Code: @HttpContext.Session.GetString("_RandomAckCode")</p><br />
    </div>

    <div id="deviceId">
        <p>DeviceId: @Model.DeviceId</p><br />
    </div>
</div>