@page
@model LoginHandling.Pages.CodeMatchingModel
@{
}


<div class="text-center">
    <h1 class="display-4">Code matching</h1>

    <form method="post">
        <div>
            <label for="doorGeneratedCode">Door generated code:</label>
            <input type="text" id="doorGeneratedCode" name="doorGeneratedCode" required />
        </div>
        <button type="submit">Evaluate</button>
    </form>


</div>