@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Code matching</h1>

    <form method="post">
        <div class="form">
            <h2>Insert door generated code:</h2>
            <input type="text" id="userInsertedCode" name="userInsertedCode" required />
        </div>
        <button id="evaluate" type="submit">Evaluate</button>
    </form>


</div>