@page
@model LoginHandling.Pages.SuccessfulMatchModel
@{
}

<div class="alert alert-success">
    <strong>Success!</strong> You can now open the door using the following code
</div>

<div>
    <p>Code: @Model.RandomAckCode</p><br />
</div>

<div>
    <p>Received code: @Model.ReceivedCode</p>
</div>